<div class="bs-component">
  <table class="table table-striped table-hover" cellspacing="0" cellpadding="0">
    <tbody>
        <% if challenges.size > 0 %>
          <h3> In-Progress Challenges:</h3>
          <%= render partial: "challenges/index_partials/list_challenges_rows", locals: {challenges: challenges } %>
        <% end %>
    </tbody>
  </table>
</div>