<div class="bs-component">
  <table class="table table-striped table-hover">
    <tbody>
        <% if challenges.size > 0 %>
          <h3>Shameful Defeats!</h3>
          <%= render partial: "challenges/index_partials/list_challenges_rows", locals: {challenges: challenges } %>
        <% end %>
    </tbody>
  </table>
  <%= link_to "All Defeats", user_defeats_path(@user) %>
</div>
<br>