<ul>

<% Challenge.all.each do |challenge| %>
  <li><%= challenge.title %></li>
  <% end %>
</ul>


<% if user_signed_in? %>

<p>see your challenges // challenge someone </p>

<p>this is going to show all the challenges sorted by date created // a button for a new challenge // a link to your profile account // usual nav bar shit</p>



<% end %>