<div class="row">
 
  
<% @challenge.users.each do |user| %>
  <% c = ChallengeViewObject.new(@challenge, user, current_user) %>
  <div class="col-md-6"> <%= c.evidence_text %> <br>
  <%= image_tag c.evidence_image %> <br></div>
<%end%>
  
</div>



  




