<br>
<br>


<div class="row">
 <div class="col-md-1"></div>
  
<% @challenge.users.each do |user| %>
  <% c = ChallengeViewObject.new(@challenge, user, current_user) %>
  <div class="col-md-5"> <p class="text-center"><%= c.evidence_text %></p> <br>
  <%= image_tag c.evidence_image %> <br>

</div>
<%end%>
  <div class="col-md-1"></div>
</div>

<div class="row">
 <div class="col-md-1"></div>
 <% @challenge.users.each do |user| %>
 <% c = ChallengeViewObject.new(@challenge, user, current_user) %>
 <div class="col-md-5"><p><%=c.comment %></p></div>
 <%end%>
 <div class="col-md-1"></div>
</div>



  




