<p>All Challenges</p>


<% Challenge.all.each do |challenge| %>
  <div>
    <%= link_to challenge.title, challenge_path(challenge) %>
    <%= link_to challenge.users.first.name, user_path(challenge.users.first) %>
    <%= link_to challenge.users.second.name, user_path(challenge.users.second) %>
  </div>
  

<% end %>


