<p>All Challenges</p>


<% Challenge.all.each do |challenge| %>
  <div>
    <%= link_to challenge.title, challenge_path(challenge) %>
    <%challenge.users.each do |user|  %>
      <%= link_to user.name, user_path(user) %>
    <% end %>
  </div>
  

<% end %>


