$('#voting').html("<%= j render 'challenges/show_voting', :locals => {:challenge => @challenge} %>");
$('#defaultCountdown').hide();
$('#in_progress').hide();
$('#status').html("<p>Status: voting</p>");
$('.user_waiting').html("<p>You didn't submit evidence in time!</p>");
$('div.waiting > p > span').html(" didn't submit evidence in time!");